Flask==3.1.2
Flask-Bcrypt==1.0.1
Flask-Login==0.6.3
Flask-Migrate==4.1.0
Flask-SQLAlchemy==3.1.1
SQLAlchemy==2.0.45
alembic==1.17.2
python-dotenv==1.2.1
requests==2.32.5
stripe==14.1.0
PyMySQL==1.1.0
gunicorn