
{%extends'base.html'%}
{%block content%}
    <div class="container">

        <div class="page-header">
            <h1>Browse All Books</h1>
            <p>Explore textbooks, references, and general reading for Nile University students.</p>
        </div>


            <form class="d-flex" method="GET" action="{{ url_for('search') }}">
            <input
                class="form-control me-2"
                type="search"
                name="q"
                placeholder="Search books..."
                aria-label="Search"
                required
            >
            <button class="btn btn-outline-primary" type="submit">
                Search
            </button>
            </form>
            
     <div class="books-grid">
        {%if books%}
            {%for bk in books %}
                <div class="book-card">
                    <img class="book-cover" src="{{ bk.cover_url }}" alt="{{ bk.title }}">
                    
                    <h3 class="book-title">{{ bk.title }}</h3>
                    
                    <p class="book-description">
                        {{ bk.description[:120] }}...
                    </p>

                    <p class="book-price">
                        Price: {{ bk.price }} EGP
                    </p>
                    <button class="btn-primary"onclick="window.location.href='{{url_for('book_details',book_id = bk.id,slug = bk.title|lower|replace(' ', '-') )}}'">View Book</button>
                </div>
            {% endfor %}
        {% endif %}
    </div>
      
</div>
{%endblock%}
