
{%extends'base.html'%}
{%block content%}
    <div class="container">

        <div class="page-header">
            <h1>Browse All Books</h1>
            <p>Explore textbooks, references, and general reading for Nile University students.</p>
        </div>

        <div class="books-toolbar">
            <div class="search-bar">
                <input type="text" placeholder="Search for a book...">
                <button class="btn-primary">Search</button>
            </div>
        </div>
    <div class="books-grid">
        <!-- 1 -->
        {%if books%}
            {%for bk in books %}
                <div class="book-card">
                    <img class="book-cover" src="{{ bk.cover_url }}" alt="{{ bk.title }}">
                    
                    <h3 class="book-title">{{ bk.title }}</h3>
                    
                    <p class="book-description">
                        {{ bk.description[:120] }}...
                    </p>

                    <p class="book-price">
                        Price: {{ bk.price }} EGP
                    </p>
                    <button class="btn-primary"onclick="window.location.href='{{url_for('book_details',book_id = bk.id,slug = bk.title|lower|replace(' ', '-') )}}'">View Book</button>
                </div>
            {% endfor %}
        {% endif %}
    </div>
      
</div>
{%endblock%}
