{%extends'base.html'%}
{%block content%}
    <!-- PAGE CONTENT -->
    <div class="container">

        <!-- OPTIONAL: BACK LINK -->
        <div class="back-link">
            <a href="{{url_for('books_page')}}">← Back to Books</a>
        </div>


        <!-- BOOK DETAILS SECTION -->
        <div class="book-details">
            <!-- LEFT: BIG COVER -->
            <div class="book-details-cover">
                {% if book.cover_url %}
                    <img src="{{ book.cover_url }}" alt="{{ book.title }}" class="book-cover-img-large">
                {% endif %}
            </div>
            <!-- RIGHT: INFO -->
            <div class="book-details-info">
            <form method="POST" action="{{ url_for('add_to_cart', book_id=book.id) }}">
                <h1>{{ book.title }}</h1>

                <p class="book-publisher"> <br>{{ book.publisher }}<br></p>

                <p class="book-meta">
                    <span>Category: {{ book.category.name }}</span><br>
                    <span>Availability: In Stock</span>
                </p>

                <p class="book-price">{{ book.price }} EGP</p>

                <div class="quantity-selector">

                    <button type="button" class="qty-btn" onclick="changeQty(-1)">−</button>

                    <input id="qtyInput" type="text" name="quantity" value="1" readonly class="qty-box">

                    <button type="button" class="qty-btn" onclick="changeQty(1)">+</button>

                 <button class="btn-primary" type="submit">Add to Cart</button>

                </div>
            </form>
                <script>
                    function changeQty(amount) {
                        let input = document.getElementById("qtyInput");
                        let current = parseInt(input.value);

                        let updated = current + amount;

                        if (updated < 1) updated = 1;   // Min = 1
                        if (updated > 10) updated = 10; // Optional max

                        input.value = updated;
                    }
                </script>


                <p class="book-author"> <br>{{ book.author }}<br></p>
                <p class="book-description">
                    {{ book.description }}
                </p>
            
            </div>
        </div>
    </div>
{%endblock%}