{%extends'base.html'%}
{%block content%}
    <!-- CONTENT -->
    <div class="container">

        <div class="confirm-box">
            <h1>Order Confirmed</h1>
            <p class="confirm-main-text">
                Thank you for using the NileUni Bookstore demo.
            </p>
            <p class="confirm-sub-text">
                This is a sample confirmation page. In the final system, this page can display your
                order number, list of items, and estimated pickup or delivery details.
            </p>

            <div class="confirm-actions">
                <a href="{{ url_for('books_page') }}" class="btn-primary" style="text-decoration: none;">Browse More Books</a>
                <a href="{{ url_for('home') }}" class="btn-outline" style="text-decoration: none;">Back to Home</a>
            </div>
        </div>

    </div>
{%endblock%}