{% extends "base.html" %}
{% block content %}

<div class="container mt-4">

{% if operation == 'show' %}
  <h2>My Addresses</h2>

  <a href="{{ url_for('add_address') }}" class="btn btn-success mb-3">
    + Add New Address
  </a>

  {% if addresses %}
    <div class="row">  

    {% for a in addresses %}
      <div class="col-12">  
        <div class="card mb-3 p-3">
          <strong>{{ a.user_fname }} {{ a.user_lname }}</strong><br>
          {{ a.street_line1 }}<br>

          {% if a.street_line2 %}{{ a.street_line2 }}<br>{% endif %}
          {% if a.street_line3 %}{{ a.street_line3 }}<br>{% endif %}

          {{ a.city }}{% if a.state %}, {{ a.state }}{% endif %}<br>
          {{ a.country }} - {{ a.postal_code }}<br>
          Phone: {{ a.phone_number }}

        <div class="mt-2">
          <button class="btn-primary"onclick="window.location.href='{{url_for('edit_address', address_id=a.id)}}'">Edit</button>
        
          <button class="btn-primary"onclick="window.location.href='{{url_for('delete_address', address_id=a.id)}}'">Delete</button>
        </div>
        </div>
      </div>   
    {% endfor %}

    </div>   
  {% else %}
    <p>No saved addresses yet.</p>
  {% endif %}

{% else %}
  <hr>
  <h4>{{ operation }} Address</h4>

  <form method="POST"
        action="{% if operation == 'Add New' %}
                  {{ url_for('add_address') }}
                {% else %}
                  {{ url_for('update_address', address_id=address.id) }}
                {% endif %}">

    <input class="form-control mb-2"
           name="user_fname"
           placeholder="First name"
           value="{{ address.user_fname if operation == 'Edit' else '' }}"
           required>

    <input class="form-control mb-2"
           name="user_lname"
           placeholder="Last name"
           value="{{ address.user_lname if operation == 'Edit' else '' }}"
           required>

    <input class="form-control mb-2"
           name="street_line1"
           placeholder="Street line 1"
           value="{{ address.street_line1 if operation == 'Edit' else '' }}"
           required>

    <input class="form-control mb-2"
           name="street_line2"
           placeholder="Street line 2"
           value="{{ address.street_line2 if operation == 'Edit' else '' }}">

    <input class="form-control mb-2"
           name="street_line3"
           placeholder="Street line 3"
           value="{{ address.street_line3 if operation == 'Edit' else '' }}">

    <input class="form-control mb-2"
           name="city"
           placeholder="City"
           value="{{ address.city if operation == 'Edit' else '' }}"
           required>

    <input class="form-control mb-2"
           name="state"
           placeholder="State"
           value="{{ address.state if operation == 'Edit' else '' }}">

    <input class="form-control mb-2"
           name="country"
           placeholder="Country"
           value="{{ address.country if operation == 'Edit' else '' }}"
           required>

    <input class="form-control mb-2"
           name="postal_code"
           placeholder="Postal code"
           value="{{ address.postal_code if operation == 'Edit' else '' }}"
           required>

    <input class="form-control mb-3"
           name="phone_number"
           placeholder="Phone number"
           value="{{ address.phone_number if operation == 'Edit' else '' }}"
           required>

    <button class="btn btn-success">
      {% if operation == 'Add New' %}
        Add Address
      {% else %}
        Update Address
      {% endif %}
    </button>

    <a href="{{ url_for('my_addresses') }}"
    class="btn btn-secondary ms-2">
    Cancel
  </a>

  </form>

{% endif %}

</div>
{% endblock %}
